﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - NetCore Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header class="kotha-menu marketing-menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="menu-content">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" asp-controller="Post" asp-action="ListPost">NetCore Blog</a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <vc:header-categories></vc:header-categories>
                    </div>
                    <div class="show-search">
                        <form role="search" method="get" id="searchform" action="http://demo.shapedtheme.com/kotha-pro-html/#">
                            <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    @RenderBody();
    <footer>
        <div class="container-fluid text-center ft-copyright">
            <p>© 2020 <a href="#">Netcore Blog </a> - Designed with <i class="fa fa-heart"></i> by <a href="https://gitlab.com/tungm">tungm</a></p>
        </div>
    </footer>
    <!--//Script//-->
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
