﻿@model NetcoreTraining.Web.ViewModels.Post.PostDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="@Model.Thumbnail" alt="@Model.Thumbnail">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="" class="post-cat">@Model.Category.Name</a>
                            <h2>@Model.Title</h2>
                        </div>
                        <div class="entry-content">
                            <p class="post-details-description">@Model.ShortDescription</p>
                            @Html.Raw(@Model.Content)
                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Jennifer </a></li>
                                <li class="date"> On February 12, 2017</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <div class="comment-area">
                    <div class="comment-heading">
                        <h3>3 Thoughts</h3>
                    </div>
                    <div class="single-comment">
                        <div class="media">
                            <div class="media-left text-center">
                                <a href=""><img class="media-object" src="assets/images/reply-1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3 class="text-uppercase">
                                        <a href="">John Smith</a>
                                    </h3>
                                </div>
                                <p class="comment-date">
                                    December, 02, 2017 at 5:57 PM
                                </p>
                                <p class="comment-p">
                                    Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                    gubergren, no sea takimata sanctus est.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="single-comment">
                        <div class="media">
                            <div class="media-left text-center">
                                <a href=""> <img class="media-object" src="assets/images/reply-3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3 class="text-uppercase">
                                        <a href="">Ricard Goff</a>
                                    </h3>
                                </div>
                                <span class="comment-date"> 5 hours ago</span>
                                <p class="comment-p">
                                    Amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidu labore et
                                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et usto duo
                                    dolores et ea rebum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--leave comment-->
                <div class="leave-comment">
                    <h4>Leave a reply</h4>
                    <form class="form-horizontal contact-form" method="post" action="#">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Website url">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="6" name="message" placeholder="Write Massage" required=""></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn send-btn">Post Comment</button>
                    </form>
                </div>
            </div>

            <div class="col-sm-4">
                <vc:side-bar></vc:side-bar>
            </div>
        </div>
    </div>
</div>
