﻿@model IEnumerable<NetcoreTraining.Web.ViewModels.Post.PostListingViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                @foreach (var post in Model)
                {
                    <article class="single-blog">
                        <div class="post-thumb">
                            <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id"><img src="@post.Thumbnail" alt="" id="exifviewer-img-2"></a>
                        </div>
                        <div class="post-content">
                            <div class="entry-header text-center text-uppercase">
                                <a href="#" class="post-cat">@post.Category.Name</a>
                                <h2><a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h2>
                            </div>
                            <div class="entry-content">
                                <p>@post.ShortDescription</p>
                            </div>
                            <div class="continue-reading text-center text-uppercase">
                                <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">Continue Reading</a>
                            </div>
                            <div class="post-meta">
                                <ul class="pull-left list-inline author-meta">
                                    <li class="author">By <a href="#">Author </a></li>
                                    <li class="date">On October 13, 2017</li>
                                </ul>
                                <ul class="pull-right list-inline social-share">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>

                }
                <div class="post-pagination  clearfix">
                    <ul class="pagination text-left">
                        <li class="active"><a href="http://demo.shapedtheme.com/kotha-pro-html/#">1</a></li>
                        <li><a href="http://demo.shapedtheme.com/kotha-pro-html/#">2</a></li>
                        <li><a href="http://demo.shapedtheme.com/kotha-pro-html/#">3</a></li>
                        <li><a href="http://demo.shapedtheme.com/kotha-pro-html/#">4</a></li>
                        <li><a href="http://demo.shapedtheme.com/kotha-pro-html/#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <vc:side-bar></vc:side-bar>
            </div>
        </div>
    </div>
</div>
