﻿@model IEnumerable<NetcoreTraining.Web.ViewModels.CategoryViewModel>

    <ul class="nav navbar-nav text-uppercase pull-right">
        @{
            int numberOfShowCategories = 5;
            foreach (var cateory in Model.Take(numberOfShowCategories))
            {
                <li><a href="#@cateory.Id">@cateory.Name</a></li>
            }

            if (Model.Count() > numberOfShowCategories)
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other categories</a>
                    <ul class="dropdown-menu">
                        @foreach (var cateory in Model.Skip(numberOfShowCategories))
                        {
                            <li><a href="#@cateory.Id">@cateory.Name</a></li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
