﻿<div class="kotha-sidebar">
    <aside class="widget about-me-widget  text-center">
        <div class="about-me-content">
            <div class="about-me-img">
                <img src="~/images/netcore.png" alt="" class="img-me img-circle" id="exifviewer-img-1" exifid="1762574682" oldsrc="~/images/netcore.png">
                <h2 class="text-uppercase">NetCore Blog</h2>
                <p>
                    This is some description about the blog with links to social network under. Lorem ipsum dolor sit met....
                </p>
            </div>
        </div>
        <div class="social-share">
            <ul class="list-inline">
                <li><a target="_blank" class="s-facebook" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" class="s-twitter" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" class="s-google-plus" href="https://www.theguardian.com/technology/2019/feb/01/closure-google-plus-everything-you-need-to-know"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" class="s-linkedin" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" class="s-instagram" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </aside>
    <aside class="widget latest-post-widget">
        <h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
        <ul>
            <li class="media">
                <div class="media-left">
                    <a href="http://demo.shapedtheme.com/kotha-pro-html/#" class="popular-img">
                        <img src="~/images/recent-1.jpg" alt="">
                    </a>
                </div>
                <div class="latest-post-content">
                    <h2 class="text-uppercase"><a href="http://demo.shapedtheme.com/kotha-pro-html/#">A Marine Dive From Sky</a></h2>
                    <p>May 27, 2017</p>
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://demo.shapedtheme.com/kotha-pro-html/#" class="popular-img">
                        <img src="~/images/recent-2.jpg" alt="">
                    </a>
                </div>
                <div class="latest-post-content">
                    <h2 class="text-uppercase"><a href="http://demo.shapedtheme.com/kotha-pro-html/#">Small Meeting Room</a></h2>
                    <p>April 27, 2017</p>
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://demo.shapedtheme.com/kotha-pro-html/#" class="popular-img">
                        <img src="~/images/recent-3.jpg" alt="">
                    </a>
                </div>
                <div class="latest-post-content">
                    <h2 class="text-uppercase"><a href="http://demo.shapedtheme.com/kotha-pro-html/#">Selfie from the beach point</a></h2>
                    <p>April 20, 2017</p>
                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://demo.shapedtheme.com/kotha-pro-html/#" class="popular-img">
                        <img src="~/images/recent-4.jpg" alt="">
                    </a>
                </div>
                <div class="latest-post-content">
                    <h2 class="text-uppercase"><a href="http://demo.shapedtheme.com/kotha-pro-html/#">Gather Some Artist Pencils.</a></h2>
                    <p>May 27, 2017</p>
                </div>
            </li>
        </ul>
    </aside>
    <aside class="widget add-widget">
        <h2 class="widget-title text-uppercase text-center">Advertisement</h2>

        <div class="add-image">
            <a href="http://demo.shapedtheme.com/kotha-pro-html/"><img src="~/images/add-image.jpg" alt=""></a>
        </div>
    </aside>
</div>

